%h1 Listing annoucements

%table
  %thead
    %tr
      %th Title
      %th Description
      %th City
      %th Exp date
      %th User
      %th Group
      %th
      %th
      %th

    %tbody
      - @annoucements.each do |annoucement|
        - if UserGroup.where("group_id = ? AND user_id = ?", annoucement.group_id, current_user.id).exists? and annoucement.exp_date >= Date.today
          %tr{id: "annoucement_#{annoucement.id}"}
            %td= annoucement.title
            %td= annoucement.description
            %td= annoucement.city
            %td= distance_of_time_in_words(Time.now, annoucement.exp_date)
            %td= annoucement.user.username
            %td= annoucement.group.group_name
            %td= link_to 'Show', annoucement
            - if current_user[:id] == annoucement.user_id
              %td= link_to 'Edit', edit_annoucement_path(annoucement)
              %td= link_to 'Destroy', annoucement, method: :delete, remote: true, data: { confirm: 'Are you sure?' }

%br

= link_to 'Add annoucement', new_annoucement_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}
#modal-window.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}


