%p#notice= notice

%p
  %b Title:
  = @annoucement.title
%p
  %b Description:
  = @annoucement.description
- if @annoucement.city.present?
  %p
    %b City:
    = @annoucement.city
%p
  %b Exp date:
  = @annoucement.exp_date
%p
  %b User:
  = @annoucement.user.username
%p
  %b Group:
  = @annoucement.group.group_name
-if @annoucement.user.id == current_user[:id]
  = link_to 'Edit', edit_annoucement_path(@annoucement)
%p
  = link_to 'Comments', '#', id: 'comments-link'
%section#comments-section
  #comments
    =render @comments
  =form_for [@annoucement, @annoucement.comments.new], remote: true do |f|
    %fieldset
      %ol
        %li
          = f.text_area :content, rows: 2, cols: 60,
                        placeholder: 'Write a comment'
        %li
          = f.submit 'Post comment', class: 'button'





= link_to 'Back', annoucements_path

