%p#notice= notice

%p
  %b Title:
  = @annoucement.title
%p
  %b Description:
  = @annoucement.description
- if @annoucement.city.present?
  %p
    %b City:
    = @annoucement.city
%p
  %b Exp date:
  = @annoucement.exp_date
%p
  %b User:
  = @annoucement.user.username
%p
  %b Group:
  = @annoucement.group.group_name
-if @annoucement.user.id == current_user[:id]
  = link_to 'Edit', edit_annoucement_path(@annoucement)
-if @annoucement.comment_ids.present?
  =render 'comments/show'
=link_to 'New comment', new_annoucement_comment_path(annoucement_id: @annoucement.id)



\|
= link_to 'Back', annoucements_path
