%h1 Listing announcements
= link_to 'Add announcement', '#',  id: 'new-announcement-link'
#new-announcement
  =render 'announcements/form'

%table
  %thead
    %tr
      %th Title
      %th Comments
      %th Description
      %th City
      %th Exp date
      %th User
      %th Group
      %th
      %th
      %th

    %tbody
      #announcements
      - @users_announcements.order(:exp_date).each do |announcement|
        %tr{id: "announcement_#{announcement.id}"}
          %td= announcement.title
          %td= @count_comments.count(announcement.id)
          %td= announcement.description
          %td= announcement.city
          %td= distance_of_time_in_words(Time.now, announcement.exp_date)
          %td= announcement.user.username
          %td= announcement.group.group_name
          %td= link_to 'Show', announcement
          - if current_user[:id] == announcement.user_id
            %td= link_to 'Edit', edit_announcement_path(announcement)
            %td= link_to 'Destroy', announcement, method: :delete, remote: true, data: { confirm: 'Are you sure?' }

%br





