- @annoucement.comments.each do |comment|
  %p#notice= notice

  %p
    %b User:
    = comment.user.username
  %p
    %b Content:
    = comment.content
  %p
    %b Annoucement:
    = comment.annoucement_id
  - if comment.user.id == current_user[:id]
    = link_to 'Edit', edit_annoucement_comment_path(comment.id, comment.annoucement_id)
    = link_to 'Delete comment', annoucement_comment_path(@annoucement, comment), method: :delete, data: {confirm: 'Are you sure?'}


