- @annoucement.comments.each do |comment|
  %p#notice= notice

  %p
    %b User:
    = comment.user.username
  %p
    %b Content:
    = comment.content
  %p
    %b Annoucement:
    = comment.annoucement_id
  - if comment.user_id == current_user
    = link_to 'Edit', edit_annoucement_comment_path(comment)

= link_to 'Back', annoucement_path
