%h1
  =@group.group_name

= link_to 'Add Annoucement', '#', id: 'new-announcement-link'
#new_announcement
  =render 'announcements/form'

%table
  %thead
    %tr
      %th Title
      %th Description
      %th City
      %th Exp date
      %th User
      %th Group
      %th
      %th
      %th

  %tbody
    - @group.announcements.each do |announcement|
      %tr
        %td= announcement.title
        %td= announcement.description
        %td= announcement.city
        %td= announcement.exp_date
        %td= announcement.user.username
        %td= announcement.group.group_name
        %td= link_to 'Show', announcement
        - if current_user[:id] == announcement.user_id
          %td= link_to 'Edit', edit_announcement_path(announcement)
          %td= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' }

%br



